.my-button {
    padding: 10px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  